footer {
  font-family: Arial, sans-serif;
  color: #000;
}

.footer-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  background-color: #fff;
}

.footer-top .item {
  text-align: center;
}

.footer-top .item img {
  width: 60px;
  margin-bottom: 10px;
}

.footer-top .item p {
  font-size: 14px;
  margin: 0;
}

.footer-top .item span {
  font-weight: bold;
  color: #333;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #338DF1;
  color: white;
  padding: 15px 40px;
}

.footer-bottom .logo {
  font-size: 18px;
  font-weight: bold;
}

.footer-bottom .icons img {
  width: 24px;
  margin-left: 15px;
  vertical-align: middle;
}
